 body {
     font-family: 'Baloo Bhaijaan 2', cursive;
     background-color: rgb(230, 115, 0);
 }

 .title {
     font-size: 60px;
     text-align: center;
    text-decoration:underline;
 }
 .Akanp {
     text-align: center;
 }
 .akanh {
     font-size: 40px;
 }
 .pakan {
     font-size: 20px;
     
 }