 body {
     font-family: 'Baloo Bhaijaan 2', cursive;
     background-color: rgb(230, 115, 0);
 }

 .title {
     font-size: 60px;
     text-align: center;
    text-decoration:underline;
 }
 .Akanp {
     text-align: center;
 }
 .akanh {
     font-size: 40px;
 }
 .pakan {
     font-size: 20px;
 }
 .abouta {
     width: 600px;
     height: 300px;
     padding: 30px;
     text-align: center;
     margin-top: -400px;
     margin-left: 800px;
     border-radius: 55% 45% 60% 45% / 0% 100% 0% 100%;
     background-color:#997300;
     float: right;
     -webkit-box-shadow:-1px 2px 7px 1px rgba(0, 0, 0, 0.5);
     -mox-box-shadow: -1px 2px 7px 1px rgba(0, 0, 0.5);    
     box-shadow: -1px 2px 7px 1px rgba(0, 0, 0, 0.5);
 }
 .Form {
    background-color: #ffa64d;
    width: 550px;
    height: 600px;
    text-align: center;
    margin-left: 500px;
    border-radius: 30px;
    padding-top: 50px;
 }
.formcontrold {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.formcontrolm {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.formcontroly {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.formcontrolg {
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.formcontrold label {
    display: block;
    margin-bottom: 5px;
    margin-left: -250px;
}
.formcontrold input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    font-size: 14px;
}

.formcontrolm label {
    display: block;
    margin-bottom: 5px;
    margin-left: -230px;
}
.formcontrolm input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    font-size: 14px;
}
.formcontroly label {
    display: block;
    margin-bottom: 5px;
    margin-left: -250px;
}
.formcontroly input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    font-size: 14px;
}
.formcontrolg label {
    display: block;
    margin-bottom: 5px;
    margin-left: -230px;
}
.formcontrolg input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    font-size: 14px;
}
.submit {
    background-color: #e67300;
    border: 2px solid #e67300;
    border-radius: 4px;
    color: white;
    display: block;
    padding: 10px;
    width: 30%;
    margin-left: 50px;
}
hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
}
  #invalid {
      text-align: center;
      color: red;
  }
  #output {
      text-align: center;
      color: green;
  }
  #submit,
  #reset {
      background-color: #e67300;
      color: white;
      border: none;
      margin: 10px;
      padding: 10px;
      font-size: 15px;
      border-radius: 5px;
  }


