 body {
     font-family: 'Baloo Bhaijaan 2', cursive;
     background-color: rgb(230, 115, 0);
 }
.navli {
    display: flex;
    float: right;
    list-style-type: none;
    justify-content: space-between;
    width: 15%;
    padding-right: 30px;
    font-size: 20px;
    text-decoration: none;
    padding-top: -10px;
}
 .title {
     font-size: 60px;
     padding-top: 40px;
     text-align: center;
 }